body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #404040;
  }
  
.menu {
  margin-top: 20px;
    float: left;
    width: 225px;
    height: auto;
    border-right: solid #404040 1px;
    border-bottom: solid #404040 1px;
    border-radius: 0 0 6px 0;
    padding: 10px;
    margin-right: 10px;
  }
  
  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 52px;
    color: #3493d5;
    margin: 10px 0;
  }
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  nav ul {
    margin-left: 15px;
  }
  
  nav ul li {
    padding: 5px;
    cursor: pointer;
  }
  
  nav ul li:hover {
    background-color: #36fc05;
    color: #fff;
    cursor: pointer;
  }
  
  main {
    float: left;
    margin-left: 50px;
    width: 600px;
  }
  
  .movie-details h2 {
    font-size: 32px;
    text-align: center;
  }
  .movie-details h3 {
    text-align: center;
  }
  
  .movie-details p {
    font-size: 24px;
    text-align: center;
  }
  .movie-details img {
    display: block;
    height: 200px;
    margin: 0 auto 25px auto;
  }
  #btn{
    background: #36fc05;
    text-align: center;
    font-size: large;
    width: 100px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 50px;
    border: none;
    font-weight: bold;
  }
  #btn:hover{
    background: #3493d5;
    text-align: center;
    font-style: italic;
  }